# Geochemical Data Exploratory Data Analysis

In [14]:
from __future__ import print_function
import os
import csv
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline
%config InlineBackend.figure_format = 'retina'

In [9]:
# Data is stored in data folder within resources folder one level up
file_loc = os.path.join("..", "data", "organic_geochem.csv")

In [12]:
df_geochem = pd.read_table(file_loc, sep=",", encoding='utf-8', error_bad_lines=False, 
                           dtype={'SAMPLE ID': str})  # Avoids pandas low memory warning
df_geochem.head()

,WELL NAME,WELL ALIAS,ENO,SAMPLE NO,SEQ NO,SAMPLE ID,TOP DEPTH(m),BASE DEPTH(m),TOP AGE(Ma),BASE AGE(Ma),...,VR_ANALYST,VR(%),VR_MIN(%),VR_MAX(%),VR_NUM,ALGINITE(%),EXINITE(%),INERTINITE(%),VITRINITE(%),OTHER_MAC(%)
0,ADRIA DOWNS 1,NaN,5673,2173575,1,114537,182.88,274.32,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ADRIA DOWNS 1,NaN,5673,2175908,1,116870,182.88,274.32,NaN,NaN,...,Amdel Services,0.32,0.26,0.44,30.0,NaN,NaN,NaN,NaN,NaN
2,ADRIA DOWNS 1,NaN,5673,2173576,1,114538,274.32,365.76,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ADRIA DOWNS 1,NaN,5673,2175909,1,116871,274.32,365.76,NaN,NaN,...,Amdel Services,0.36,0.30,0.44,30.0,NaN,NaN,NaN,NaN,NaN
4,ADRIA DOWNS 1,NaN,5673,2173577,1,114539,365.76,457.20,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df_geochem.describe()

,ENO,SAMPLE NO,SEQ NO,TOP DEPTH(m),BASE DEPTH(m),TOP AGE(Ma),BASE AGE(Ma),S1(mg/g rock),S2(mg/g rock),S3(mg/g rock),...,OI(mg CO2/g TOC),VR(%),VR_MIN(%),VR_MAX(%),VR_NUM,ALGINITE(%),EXINITE(%),INERTINITE(%),VITRINITE(%),OTHER_MAC(%)
count,55676.000000,5.567600e+04,55676.000000,55616.000000,47934.000000,39215.000000,34465.000000,27351.000000,26835.000000,21469.000000,...,20591.000000,13155.000000,8337.000000,8359.000000,10084.000000,1224.000000,3369.00000,4653.000000,4576.000000,613.000000
mean,23919.926018,1.396990e+06,1.015159,2219.060176,2219.514074,3054.865902,3326.883108,0.899148,8.662988,1.576604,...,147.846175,0.717704,0.601337,0.855233,19.333433,11.620483,22.72650,42.574945,37.046141,27.634160
std,72498.072191,2.074760e+05,0.126093,1003.439143,992.828908,27708.305922,29054.970991,4.658332,29.640706,2.482188,...,318.586100,0.858962,0.756697,1.584730,14.282673,20.449896,23.08963,31.258537,27.778683,24.583363
min,5656.000000,1.297823e+06,1.000000,0.000000,4.000000,0.050000,0.050000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.040000,0.060000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
25%,10681.000000,1.316282e+06,1.000000,1464.800000,1477.425000,92.800000,89.040000,0.100000,0.510000,0.410000,...,27.165000,0.480000,0.390000,0.580000,8.000000,0.000000,5.00000,15.000000,11.597500,10.000000
50%,12743.000000,1.333432e+06,1.000000,2220.000000,2215.000000,147.090000,145.070000,0.220000,1.350000,0.950000,...,70.590000,0.580000,0.480000,0.680000,20.000000,0.000000,15.00000,40.000000,31.000000,20.000000
75%,15258.000000,1.369714e+06,1.000000,2980.000000,2955.875000,214.560000,214.120000,0.560000,3.490000,1.950000,...,168.620000,0.750000,0.630000,0.870000,27.000000,15.000000,30.43000,66.670000,60.000000,40.000000
max,571959.000000,2.550512e+06,4.000000,5750.000000,5750.000000,878406.010000,878406.010000,444.000000,613.770000,172.000000,...,23888.890000,57.000000,40.000000,90.000000,145.000000,100.000000,100.00000,437.000000,100.000000,97.000000

In [16]:
file_out = os.path.join("..", "data", "organic_geochem_tab.csv")
df_geochem.to_csv(file_out, sep="\t", quoting=csv.QUOTE_NONE)